[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/thecreativehg/cereal-shipper.github.io.git
	branch = main
